<script type="text/javascript">
  <% if signed_in? %>
    window.currentUser = <%=
      render(
        "api/users/user.json.jbuilder",
        user: current_user
      ).html_safe
    %>
  <% end %>

  window.images = {
    logo: "<%= image_url("medium.png") %>",
    logoword: "<%= image_url("medium-word1.png") %>",
    magnifier: "<%= image_url("search-magnifier.svg") %>",
    bell: "<%= image_url("notification-bell.png") %>",
    bubble: "<%= image_url("speech-bubble.png") %>",
    likeFilled: "<%= image_url("like-filled.png") %>",
    likeEmpty: "<%= image_url("like.png") %>"
  }
</script>

<main id="root">This is where it all happens</main>
